* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(202, 100%, 50%);
}

.reg-form {
    background-color: hsl(100, 20%, 100%);
    width: 70%;
    margin: 5% auto;
    padding: 2%;
    border-radius: 4px;
    box-shadow: 3px 2px 5px hsla(0, 5%, 45%, 85%);
}

h1 {
    margin: 2% 0;
}

h1+p {
    font-size: large;
    color: hsl(0, 2%, 60%);
    padding-bottom: 2%;
}

form {
    padding-top: 3%;
}

input[type=text] {
    padding: 2%;
    background-color: hsl(120, 0%, 95%);
    border: none;
    border-radius: 2px;
    width: 40%;
    margin-right: 9%;
    margin-bottom: 2%;
}

input[type=email] {
    background-color: hsl(120, 0%, 95%);
    width: 100%;
    border: none;
    border-radius: 6px;
    padding: 2%;
    margin-bottom: 2%;
}

input[type=password] {
    width: 100%;
    background-color: hsl(120, 0%, 95%);
    padding: 2%;
    border: none;
    margin-bottom: 2%;
}

input[type=checkbox] {
    background-color: rgb(143, 142, 142);
    border: 2px inset hsl(0, 2%, 60%);
    font-size: 50%;
    margin-bottom: 2%;
}

input[type=checkbox]+p {
    color: hsl(0, 5%, 45%);
    display: inline;
}

.button {
    width: 15%;
    padding: 1%;
    background-color: hsl(202, 100%, 50%);
    border: 0 inset;
    border-radius: 3px;
    color: hsl(0, 0%, 100%);
}

.reg-form+p {
    text-align: center;
    color: hsl(120, 0%, 95%);
    /* margin-bottom: 20%; */
    position: relative;
}