* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-weight: 16px;
}

body {
    background-color: hsl(89, 50%, 80%);
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    background-color: hsl(212, 100%, 85%);
}

.logo-image {
    padding: 5px 20px 20px;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: 2px solid palevioletred;
    height: 40%;
    letter-spacing: .2rem;
}

.menu {
    padding-top: 15px;
}

.menu>li {
    display: inline;
    padding: 12px;
}

#navb-last {
    /* margin-right: 10px; */
    padding-right: 10px;
    background-color: hsl(327, 88%, 55%);
}

#navb-last a {
    color: hsl(224, 89%, 25%);
}


/* .menu .navb {
    height: 300px;
    justify-content: center;
    align-items: center;
} */

a:link,
a:visited {
    text-decoration: none;
    color: hsl(0, 59%, 41%);
    font-size: 1.1rem;
}

@media only screen and (max-width: 646px) {
    .logo-image,
    .menu>li {
        display: block;
    }
}